.project-container{
    display: flex;
    height: 200px;
    margin-bottom: 20px;
    .project-img{
        border-radius: 10px;
        background: grey;
        margin: 10px;
        flex: 1;
    }
    .project-overview{
        margin: 10px;
        flex: 2;
        padding: 16px;
    }
    p{
        font-size: 16px;
    }
    &:hover{
        transition: 1s;
    }
}

