.container.project-page{
    scroll-behavior: smooth;
    .text-zone {
        padding-top: 80px;  
        display: table-cell;
        max-width: 100%;
    } 
    .text-animate-hover {
        &:hover {
          color: #fff;
        }
      }
    h1{
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #ffd700;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;
    }
}

