.page{
    width: 100%;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    opacity: 0;
    margin:  auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 2s forwards;
    animation-delay: 2s;
}

.container.contact-page,
.container.about-page
{
   .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-width: 90%;
    } 
    .text-animate-hover {
        &:hover {
          color: #fff;
        }
      }
    h1{
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #ffd700;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;
    }
    p{
        font-size: 13px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 3s ;

        &:nth-of-type(1){
            animation-delay: 2.3s;
        }
        &:nth-of-type(2){
            animation-delay: 2.4s;
        }
        &:nth-of-type(3){
            animation-delay: 2.5s;
        }
    }
}

.container.project-page{
    .text-zone {
        padding-top: 20px;
        display: table-cell;
        max-width: 100%;
    } 
    .text-animate-hover {
        &:hover {
          color: #fff;
        }
      }
    h1{
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #ffd700;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;
    }
}

.container.project-zone{
    margin: auto;
    padding: 12px;
    .project-container{
        display: flex;
        min-height: max-content;
        margin-bottom: 20px;
        .project-img{
            border-radius: 10px;
            background: grey;
            margin: 10px;
            flex: 1;
        }
        .project-overview{
            margin: 10px;
            flex: 2;
            padding: 16px;
        }
        h2{
           color: #ffd700; 
        }
        p{
            color: #fff;
            font-size: 16px;
        }
    }
}

